services:
  midyainotes:
    image: midyai-notes:v1

    depends_on:
      - db
      - redis
    environment:
      APP_URL: "http://localhost:3000"
      APP_SECRET: "40650f857f46916d978a00034318d495b02ef3a96dd9fa9eba278b5acc090fd1"
      DATABASE_URL: "postgresql://midyainotes:password@db:5432/midyainotes?schema=public"
      REDIS_URL: "redis://redis:6379"
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - midyainotes:/app/data/storage

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: midyainotes
      POSTGRES_USER: midyainotes
      POSTGRES_PASSWORD: password
    ports:
      - "5433:5432"
    restart: unless-stopped
    volumes:
      - db_data:/var/lib/postgresql/data

  redis:
    image: redis:7.2-alpine
    ports:
      - "6379:6379"
    restart: unless-stopped
    volumes:
      - redis_data:/data

volumes:
  midyainotes:
  db_data:
  redis_data:
